# Python Crash Course

This notebook will just go through the basic topics in order:

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if, elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map and filter
* methods
____

## Data types

### Numbers
Python has 2 basic numbers types - integer and floating point. The floating point number has decimal attached to it and with either of these number types you can do arithmetic operations like addition, multiplication, division, exponent (x power y), mod (gives the remainder).

In [1]:
1 + 1

2

In [2]:
1 * 3

3

In [3]:
1 / 2

0.5

In [4]:
2 ** 4

16

In [5]:
4 % 2

0

In [6]:
5 % 2

1

 The order of operations follow the common understanding of solving the paranthesis first.

In [7]:
(2 + 3) * (5 + 5)

50

### Variable Assignment

Variables in python are simply defined by assigning an object to a variable name using an '=' sign. From that point onwards, we can refer to the object by simply typing in the variable name.

In [13]:
# Can not start with number or special characters
name_of_var = 2

In [14]:
x = 2
y = 3

I can also reassign x as in x = x+2 in which case it will change the value of the variable to the newly computed value. Couple of rules - you can start a variable name with a number as it will give a syntax error. You also cannot start it with special characters like ! or $. Multiple words in a variable name are typically separated using '_'.

In [15]:
z = x + y

In [16]:
z

5

You can add comments by putting a '#' sign in the beginning. The interpreter will not execute that line of code.

### Strings

There are 2 ways of creating a string - using single quotes or using souble quotes.

In [17]:
'single quotes'

'single quotes'

In [18]:
"double quotes"

'double quotes'

If you are using one of the above as a normal part of the sentence, then you can use the other on the outside to retain the original one inside.

In [19]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

### Printing

In [20]:
x = 'hello'

Print just x in the command line will out its value with quotes. This is akin to inspecting the value of a variable while debugging.

In [21]:
x

'hello'

For printing the results, you can use the print command with round brackets around the object

In [22]:
print(x)

hello

Lets see how can we format a print statement based on specific values in the variables. Use curly brackets in a string and use the 'format' method of the string. It passes the values in the order in which you would like them to appear in the curly brackets.

You can also pass the variables in the curly brackets and then assign values to those variables through the 'format' method. This way you dont have to worry about the order in which the variables are specified. You can also use the variable more than one time and the interpreter will search and replaces all the occurences of the variable in the string.

In [8]:
num = 12
name = 'Sam'

In [9]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

My number is: 12, and my name is: Sam

In [25]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam

## Indexing in a string

s = 'hello'
You can grab the indivisual letters in a string through indexing. Indexing starts at '0'. <br>So, s[0] returns 'h'. <br>How do we get 'o'?

You can also the slice notation. s = 'abcdefgh'<br>
s[0:]: Grab everything<br>
s[:3]: Grab everything from 0 until 3 but excluding 3.<br>
s[1:4]: Grab everything from 1 to 3.

### Lists

A list is a sequence of elements within a square bracket separated by commas.<br>
List can take in any data type.

In [26]:
[1,2,3]

[1, 2, 3]

In [27]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

I can also add an element to the list by using the append() method.

In [12]:
my_list = ['a','b','c']

In [13]:
my_list.append('d')

In [14]:
my_list

['a', 'b', 'c', 'd']

In [15]:
my_list[0]

'a'

In [16]:
my_list[1]

'b'

The slice notation also works with the list.

In [17]:
my_list[1:]

['b', 'c', 'd']

In [18]:
my_list[:1]

['a']

You can also change the value at a particular index as follows:

In [19]:
my_list[0] = 'NEW'

In [20]:
my_list

['NEW', 'b', 'c', 'd']

You can also create a nested list by including one list inside another list.

In [99]:
nest = [1,2,3,[4,5,['target']]]

In [100]:
nest[3]

[4, 5, ['target']]

In [101]:
nest[3][2]

['target']

In [102]:
nest[3][2][0]

'target'

### Dictionaries

You can create a dictionary in python by specifying key/value pairs inside curly brackets. Unlike lists, the values are not accessed through sequential indexes but rather by using the 'key'

In [21]:
d = {'key1':'item1','key2':'item2'}

In [22]:
d

{'key1': 'item1', 'key2': 'item2'}

In [39]:
d['key1']

'item1'

You can specify any value against a key. For example, it could be a list:<br>
d = {'k1':[1,2,3]}

In [31]:
d = {'K1':[1,2,3]}

In [35]:
d['K1'][1:]

[2, 3]

You can also have Nested dictionaries

In [40]:
d = {'outerkey':{'innerkey':[1,2,3]}}

In [43]:
d['outerkey']['innerkey'][2]

3

### Booleans

In [40]:
True

True

In [41]:
False

False

### Tuples

Tuples are similar to lists in the sense that they are sequence of elements. The difference is that they are created using round brackets and the elements cannot be reassigned i.e. items are immutable. Used when you dont want the users to modify the values. Indexing works the same way as lists.

In [44]:
list = [1,2,3]

In [46]:
list[1] = 'NEW'

In [47]:
list

[1, 'NEW', 3]

In [42]:
t = (1,2,3)

In [43]:
t[0]

1

In [44]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

### Sets

Created using curly brackets like dictionaries but unlike dictionaries, a key is not specified.

In [45]:
{1,2,3}

{1, 2, 3}

A set is defined by a collection of unique elements. So, if a number is present more than once, the set abstraction reduces it to a sequence of unique objects.

In [46]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

In [48]:
s = {'a', 1, 'a', 2}

In [52]:
s

{1, 2, 'a'}

In [53]:
set([1,2,1,3,4])

{1, 2, 3, 4}

Addition of elements to a set can be done using 'add' command

In [55]:
s.add('b')

In [56]:
s

{1, 2, 'a', 'b'}

## Comparison Operators

In [47]:
1 > 2

False

In [48]:
1 < 2

True

In [49]:
1 >= 1

True

In [50]:
1 <= 4

True

In [51]:
1 == 1

True

In [52]:
'hi' == 'bye'

False

## Logic Operators

In [53]:
(1 > 2) and (2 < 3)

False

In [54]:
(1 > 2) or (2 < 3)

True

In [55]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## if,elif, else Statements

A block of white space is how the interpreter knows that the block of statements belongs to the 'if' portion. So, the indentation is very important.

In [57]:
if 1 < 2:
    print('Yep!')

Yep!

In [58]:
if 1 < 2:
    print('yep!')

yep!

In [59]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [60]:
if 1 > 2:
    print('first')
else:
    print('last')

last

How do we check for multiple conditions?. Note that the 'elif' and 'else' line up with the 'if' and that is how the interpreter knows that they belong together

In [64]:
x=3
if x == 2:
    print('first')
elif x == 3:
    print('middle')
else:
    print('Last')

middle

## for Loops

For loops allow you to iterate through a sequence

In [61]:
seq = [1,2,3,4,5]

In [62]:
for item in seq:
    print(item)

1
2
3
4
5

The code inside the loop does need to refer to item. you can an urelated action as well.

In [63]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [64]:
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10

## while Loops

Used to iterate until some condition has been met<br>
If you had not incremented i, it would get stuck in the loop for ever. If that happens, click on 'restart' in the kernel menu to restart the kernel.

In [65]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

## range()

If you have to iterate some number of times, you dont have to first create a list of consecutive numbers and then iterate through it. Python provides a 'range' function that does it for you.<br>
It takes a 'start' and a 'stop' argument to generate a seqeunce from start to stop.<br>
If you a specify only 1 argument, the start is taken as 0

In [66]:
range(5)

range(0, 5)

In [68]:
for i in range(5):
    print(i)

0
1
2
3
4

Can also easily convert the above sequence to a list as follows:

In [75]:
list(range(5))

[0, 1, 2, 3, 4]

In [78]:
for i in list(range(5, 10, 2)):
    print("i is {}".format(i))

i is 5
i is 7
i is 9

## list comprehension

One of the common operation in Python is to generate a list based on some opertion on another list<br>
One way to do it is:

In [79]:
x = [1,2,3,4]

In [80]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [81]:
[item**2 for item in x]

[1, 4, 9, 16]

## functions

A function is a named section of a program that performs a specific task. They are helpful in optimizing a functionality that is often repeated in the code. A function enables you to achieve that functionality without writing the corresponding code again and again.<br>
The keyword for a function is 'def'<br>
You can also include docstring to include some help. The help shows up using shift tab

In [82]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [83]:
my_func

In [84]:
my_func()

default

In [85]:
my_func('new param')

new param

In [86]:
my_func(param1='new param')

new param

In [100]:
def my_func1(name1='Vip'):
    print('Hello ' + name1)

In [102]:
my_func1()

Hello Vip

A function can also return a value using the 'return' keyword

In [87]:
def square(x):
    return x**2

In [88]:
out = square(2)

In [79]:
print(out)

4

## map and filter

In [8]:
seq = [1,2,3,4,5]

Lets says that I want to apply a function to each of the elements in the list and output them into another list. One way to do it would be to write a function and iterate over the elements using a 'for' loop.

In [9]:
def times2(var):
    return var*2

In [10]:
seq1 = []
for i in seq:
    seq1.append(times2(i))

In [11]:
seq1

[2, 4, 6, 8, 10]

map() is a builtin function in Python that simplifies the above steps. It creates an iterator using that computes the function using arguments from each of the iterables.

In [12]:
map(times2,seq)

In [13]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

Now the question is do we have to define the function if its only going to be a one time thing and not necessarily useful in the rest of the code.<br>
Lambda expressions to the rescue.

## lambda expressions

In [14]:
def times2(var): 
    return var*2

In [15]:
times2(2)

4

Lambda expression allows us to compress the function in to a one liner by eliminating the obvious keywords. We dont needs the function name or the keywords 'def' and 'return'.

In [16]:
def times2(var): return var*2

Conver the above to

In [17]:
lambda var: var*2

In [18]:
t = lambda var: var*2

In [19]:
t(4)

8

Lets look at how we can further optmimize the code we created earlier with the 'map' function

In [20]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

Lets look at another builtin function called 'filter'. Unlike the function 'map' which is used to map a given set of elements, a 'filter' function is used to filter out the elements<br>
We use the lambda expression to return a boolean condition which can then be used to filter out elements that match the given condition.

In [21]:
def iseven(var): 
    return (var%2 == 0)

In [22]:
iseven(8)

True

In [23]:
filter(iseven,seq)

In [24]:
list(filter(iseven,seq))

[2, 4]

In [87]:
filter(lambda item: item%2 == 0,seq)

In [88]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

## methods

Lets see some built in functions available for strings.<br>
Use shift+tab to show the long list.

In [111]:
st = 'hello my name is Sam'

In [112]:
st.lower()

'hello my name is sam'

In [113]:
st.upper()

'HELLO MY NAME IS SAM'

In [103]:
st.split()

['hello', 'my', 'name', 'is', 'Sam']

In [104]:
tweet = 'Go Sports! #Sports'

We can use a delimiter other than the default 'space' to split the string

In [106]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [107]:
tweet.split('#')[1]

'Sports'

Lets now look at some of functions available for dictionaries

In [118]:
d = {'k1': 1, 'k2':2}

In [119]:
d

{'k1': 1, 'k2': 2}

In [120]:
d.keys()

dict_keys(['k1', 'k2'])

In [121]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [122]:
d.values()

dict_values([1, 2])

Lets look at some uswful functions for lists

In [129]:
lst = [1,2,3]

In [130]:
lst.pop()

3

In [131]:
lst

[1, 2]

You can also pass an index to pop and pop a specific element from the list

In [25]:
lst = [1,2,3]

In [26]:
popped = lst.pop(1)

In [27]:
popped

2

In [28]:
lst

[1, 3]

In [29]:
lst = [1,2,3]

In [30]:
lst.insert(2, 2.5)

In [31]:
lst

[1, 2, 2.5, 3]

In [32]:
lst.append(4)

In [33]:
lst

[1, 2, 2.5, 3, 4]

The 'in' operator checks for the presence of an item in the list

In [135]:
'x' in [1,2,3]

False

In [136]:
'x' in ['x','y','z']

True

## Tuple Unpacking

Lets define a list of tuples

In [137]:
ltp = [(1,2),(3,4),(5,6)]

In [139]:
ltp[0]

(1, 2)

In [140]:
for i in ltp:
    print (i)

(1, 2)
(3, 4)
(5, 6)

Tuple unpacking allows me to unpack tuples as I go along

In [142]:
for (a,b) in ltp:
    print(a)

1
3
5

or you can skip the brackets and directly use

In [143]:
for a,b in ltp:
    print(b)

2
4
6

# Great Job!